.carousel__content{
    .carousel__images{
        .images__item__trangti{
            img{
                margin-top: 20px;
                width: 100%;
                height: 700px;
            }
        }
        .images__item__bantay{
            img{
                width: 100%;
                height: 700px;
            }
        }
    }

}